<%- include('../partials/head')  %>

<!--     <link rel="stylesheet" href="/css/reset.css"> -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body >

   
    <div class="full-screen"><div>
        <nav>
            <a href="">Snippets</a>
            <a href="">Profil</a>
            <a href="">Déconnexion</a>
            <br>
        </nav>
    </div>
   
        <div class="container-profil right-panel-active">

            
            <div class="test">
                
            </div>

              
            </div>
        </div>

    </div>

<%- include('../partials/foot')  %>